<div class="row animated fadeIn fast">
    <!--  -->
    <!-- Usuarios -->
    <div class="col-4">
        <div class="card">
            <div class="card-body">
                <h3>Usuarios ({{usuarios.length}})</h3>


                <div *ngIf="usuarios.length === 0" class="alert alert-info">
                    <p class="mb-0">No hay usuarios que coincidan con ese término</p>

                </div>


                <div *ngIf="usuarios.length > 0" class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Avatar</th>
                                <th>Nombre</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="animated fadeIn fast" *ngFor="let usuario of usuarios">
                                <td>
                                    <img class="avatar w50" [src]="usuario.img | imagen:'usuarios'" alt="">
                                </td>
                                <td>{{ usuario.nombre }}</td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!--  -->
    <!-- Medicos -->
    <div class="col-4">
        <div class="card">
            <div class="card-body">
                <h3>Médicos</h3>

                <div *ngIf="medicos.length === 0" class="alert alert-info">
                    <p class="mb-0">No hay médicos que coincidan con ese término</p>
                </div>

                <div *ngIf="medicos.length > 0" class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Foto</th>
                                <th>Nombre</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="animated fadeIn fast" *ngFor="let medico of medicos">
                                <td>
                                    <img class="border w50" [src]="medico.img | imagen:'medicos'" alt="">
                                </td>
                                <td>{{ medico.nombre }}</td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!--  -->
    <!-- Hospitales -->
    <div class="col-4">
        <div class="card">
            <div class="card-body">
                <h3>Hospitales</h3>

                <div *ngIf="hospitales.length === 0" class="alert alert-info">
                    <p class="mb-0">No hay hospitales que coincidan con ese término</p>
                </div>

                <div *ngIf="hospitales.length > 0" class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Foto</th>
                                <th>Nombre</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="animated fadeIn fast" *ngFor="let hospital of hospitales">
                                <td>
                                    <img class="avatar w50" [src]="hospital.img | imagen:'hospitales'" alt="">
                                </td>
                                <td>{{ hospital.nombre }}</td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>